.primary{
    background-color: aquamarine;
    color:darkgreen
}
.navbar{
    text-align: "center";
}
.navbar li{
    display: inline-block;
  
}
.nav-bar-link{
    color: black;
    text-decoration: none;
}
.nav-bar-link:hover{
    color:rgb(6, 250, 6);
   
}
/* .navbar .active{
    color:#fc0e0e
} */